html {
    font-size: 100%;
}

body {
    color: #111;
    font-family: "Open Sans";
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.6;
}

.kursiv {

    font-style: italic;
}

.main-nav {
    clear: none;
    float: right;
}

.main-nav ul {
    clear: both;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
.main-nav ul li.current a {
    color: #00bffF;
}
a:hover,
a:active {
    border-bottom: 1px solid #f12481;
    color: #00bffF;
}
a {
    border-bottom: 1px solid currentcolor;
    color: inherit;
    outline: medium none;
    text-decoration: none;
}

.main-nav ul li a {
    border-bottom: medium none !important;
    color: inherit;
    display: block;
    height: 100%;
    padding: 0.9em;
    transition: color 0.15s linear 0s;
    width: 100%;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.main-nav ul li {
    display: inline-block;
    font-size: 16px;
    margin: 5px -3px 2px 0;
    text-transform: uppercase;
}
@media screen and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: portrait){
    .main-nav ul li {
        display: block;
        font-size: 10px;
        margin: 2px;
        
    }
    .main-nav ul li a {
        padding: 0.3em;
    }
    .main-nav ul {
        position: relative;
        left: -220px;
        top: 80px;
        margin-bottom: 25px;
    }
}
.wrapper {
    margin: 0 auto;
    max-width: 1500px;
    width: 85vw;
}

@media screen and (max-width: 375px)
and (max-device-width: 667px)
and (orientation: portrait){
    .wrapper {
        width: 100%;
    }
}
.main,
aside {
    padding: 1em;
    margin: 0 auto;
    width: 65vw;
}
.web,
aside {
    padding: 1em;
    margin: 0 auto;
    width: 85vw;
}

@media screen and (max-width: 375px)
and (max-device-width: 667px)
and (orientation: portrait){
 .main, aside{

    width: 98vw;
 }
}


.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.logo {
    float: left;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../logo/final/Logo_190_2.png);
   }
.oh_name{
    position: relative;
    top: 165px;
    left: -165px;
}
@media screen and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: portrait){
.logo {
    background-image: url(../logo/final/Logo_95.png);
    width: 100px;
    height: 100px;
}
.oh_name{
    position: relative;
    top: 40px;
    left: 30px;
}
}


.logo:hover {
    transition: transform 0.3s ease-in-out 0.3s;
    transform: scale(1.2);
}

.xmas {
    text-align: center;
    color: red;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0px 0px 20px;
}

.underline {text-decoration: underline;
            font-size: bold;}
            

.fb_png {

    float: right;
    text-decoration: none;
    margin-right: 25px;
}

@media screen and (max-width: 375px)
and (max-device-width: 667px)
and (orientation: portrait){
    .fb_png {
        position: absolute;
        top: 140px;
        right: 75px;
        
    }


}

.main-header {
    /*border-bottom: 1px solid #eee;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.075);*/
    padding: 0.25em 1em;
    position: relative;
    z-index: 1;
}

.clearfix {}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::-moz-placeholder {
    color: #444;
}

*::-moz-selection {
    background: #f12481 none repeat scroll 0 0;
    color: white;
}

.full-width {
    background-color: white;
    overflow: hidden;
}

/*h3 {
    font-size: 1.6em;
    text-transform: capitalize;
}*/


h1,
h2,
h3,
h4,
h5,
h6 {
    
    margin: 1.5em 0 .5em;
}

.size-2x.intro {
    font-weight: 300;
}

.size-2x {
    font-size: 1.3em;
    margin-bottom: 1.5em;
}

@media screen and (max-width: 375px) {
    .size-2x.intro {
        font-weight: 300;
    }
    .size-2x {
        font-size: 1.1em;
        margin-bottom: 1.5em;
    }
}

#artikel {

    position: fixed;
    top: 270px;
    left: 4px;
}
@media screen and (max-width: 375px) {
    #artikel {
        display: none;
    }
}

.ma_list{
    list-style-type: none;
}
.ma_item{
    font-size: x-small;
}

p,
ul,
ol {
    margin: 1em 0;
}



.contact-box {
    padding: 2em 0;
    /*background-color: #d3d3d3!important;*/
    clear: both;
    text-align: center;
}

.full-width {
    background-color: white;
    overflow: hidden;
}

.main-footer {
    padding: 5em 0 2em;
    font-size: 10px;
    font-size: 1rem;
    clear: both;
    text-align: center;
}


/*-----Availability-Calendar----------------------*/

.availability-calendar ul {
    display: flex;
    flex-flow: row wrap;
    list-style: outside none none;
    margin: 0;
    padding: 0.5em 0;
}

.availability-calendar li {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    float: left;
    font-weight: bold;
    margin: 1px;
    padding: 0.5em 0.5em 1em;
    position: relative;
    width: 24%;
}

.availability-calendar li {
    flex: 1 1 0;
}

.availability-calendar li {
    width: 16%;
}

.past-month {
    background: #eee none repeat scroll 0 0 !important;
    color: #ddd !important;
}

.past-month::after {
    background: #888 none repeat scroll 0 0;
}

.past-month span {
    color: #aaa !important;
    filter: blur(0.75px);
    display: none;
}

li {
    margin: 1em 0;
}

.current-month::before {
    background-color: black;
    color: white;
    content: "aktuell";
    display: block;
    font-size: 0.4em;
    font-weight: normal;
    padding: 0.4em 0.8em;
    position: absolute;
    right: 0;
    top: 5em;
}

.availability--status {
    display: block;
    font-size: 0.8em;
    font-weight: normal;
    margin-top: 1em;
}

.full-availability .availability--status {
    color: #00bffF;
    font-weight: bold;
}

.no-availability .availability--status {
    color: #ea2a55;
}

.partial-availability .availability--status {
    color: #ff9e06;
}

@media screen and (max-width: 375px) {
    .availability-calendar ul {
        display: block;
        list-style: outside none none;
        margin: 0;
        padding: 0.5em 0;
    }
    .availability-calendar li {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #ddd;
        float: left;
        font-weight: bold;
        margin: 1px;
        padding: 0.5em 0.5em 0.5em;
        position: relative;
        width: 100%;
    }
    .past-month::after {
        background: #888 none repeat scroll 0 0;
    }
    .past-month span {
        color: #aaa !important;
        filter: blur(0.75px);
        display: none;
    }
    li {
        margin: 1em 0;
    }
    .current-month::before {
        background-color: black;
        color: white;
        content: "aktuell";
        display: block;
        font-size: 0.4em;
        font-weight: normal;
        padding: 0.4em 0.8em;
        position: absolute;
        right: 0;
        top: 5em;
    }
    .availability--status {
        display: block;
        font-size: 0.8em;
        font-weight: normal;
        margin-top: 1em;
    }
    .full-availability .availability--status {
        color: #72a53b;
        font-weight: bold;
    }
    .no-availability .availability--status {
        color: #ea2a55;
    }
    .partial-availability .availability--status {
        color: #ff9e06;
    }
}


/*-----------------ENDE Availability-Calendar-----------------*/

.note {
    color: #888;
    margin-bottom: 1em;
    font-size: .9em;
    font-style: italic;
}

h4 {
    font-size: 1.4em;
}

figure figcaption {
    font-style: italic;
    color: #999;
    padding: .5em 4em;
    font-size: .8em;
}

.blue {
    color: #00bffF;
}

.P1 {
    width: 980px;
    position: relative;
    top: 25px;
    border: 1px solid #FFF;
    margin-bottom: 50px;
    padding: 30px;
    background-color: #48d1CC;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: #F5F5DC;
}

.P2 {
    width: 980px;
    position: relative;
    top: 25px;
    border: 1px solid #FFF;
    margin-bottom: 50px;
    padding: 30px;
    background-color: #DC143C;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: #F5F5DC;
}

@media screen and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: portrait){
    .P1,
    .P2 {
        width: 365px;
        left: -40px;
        padding: 8px;
        margin-bottom: 15px;
    }
}
@media screen and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: landscape){
    .P1,
    .P2 {
        width: 600px;
        left: -50px;
        padding: 8px;
        margin-bottom: 15px;
    }
}
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait){
    .P1,
    .P2 {
        width: 680px;
        left: -40px;
        padding: 8px;
        margin-bottom: 15px;
    }
}
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape){
    .P1,
    .P2 {
        width: 800px;
        left: -60px;
        padding: 8px;
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 375px) {
    .canDo {
        width: 320px;
        
    }
}

.slash {
    color: red;
    font-weight: bold;
}

.bg-fixed {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/huge.jpg);
}

@media screen
and (min-device-width: 375px)
and (max-device-width: 667px){
    .bg-fixed {
      background: transparent;
        
    }
}
@media screen
and (min-device-width: 768px)
and (max-device-width: 1024px){
    .bg-fixed {
        background: transparent;
        
    }
}
@media screen and (max-width: 568px) {
    .kreis {
        height: 70px;
        width: 70px;
        background-size: 120px;
        top: 60px;
        right: 14px;
    }
}


/*-----------ScreenshotBox------------------------------*/

#scshBox {
    position: relative;
    top: 50px;
    left: -60px;
    width: 1200px;
    height: 1250px;
    margin-bottom: 40px;
}

.scsh1 {
    position: relative;
    top: 10px;
    left: 5%;
   
}

.scsh2 {
    position: relative;
    top: -240px;
    left: 550px;
    
}

.scsh3 {
    position: relative;
    top: -200px;
    left: 5%;
    
}

.scsh4 {
    position: relative;
    top: -455px;
    left: 46%;
    
}

.scsh5 {
    position: relative;
    top: -400px;
    left: 5%;
    
}

.scsh6 {
    position: relative;
    top: -630px;
    left: 45%;
    
}
.scsh7 {
    position: relative;
    top: -570px;
    left: 5%;    
}
.scsh8 {
    position: relative;
    top: -817px;
    left: 45%;
    width: 375px;
    height: 211px;
    border: 5px solid black;
    text-align: center;
    font-size: large;
}


.pi {
    padding: 4px;
    display: inline-block;
    border: 4px solid lightgrey;
    border-bottom-right-radius: 200px 200px;
    border-bottom-left-radius: 200px 200px;
    border-top-left-radius: 200px 200px;
    border-top-right-radius: 200px 200px;
    text-align: center;
}


/*-----MQ for Smartphones (e. g. iPhone 6) ---------------------------*/

@media screen and (max-width: 375px) {
    .fc1 {
        padding: 0;
        font-size: small;
    }
    
    #scshBox {
        position: relative;
        top: 50px;
        left: -60px;
        width: 1200px;
        margin-bottom: 95px;
    }
    .scsh1 {
        position: relative;
        top: 10px;
        left: 5%;
        display: inline-block;
        float: left;
    }
    .scsh2 {
        position: relative;
        top: 200px;
        left: -11%;
        display: inline-block;
        float: left;
    }
    .scsh3 {
        position: relative;
        top: 390px;
        left: -27%;
        float: left;
    }
    .scsh4 {
        position: relative;
        top: 570px;
        left: -43%;
        float: left;
    }
    .scsh5 {
        position: relative;
        top: 760px;
        left: -59%;
        float: left;
    }
    .scsh6 {
        position: relative;
        top: 930px;
        left: -75%;
    }
    .scsh7 {
        position: relative;
        top: 970px;
        left: -75%;
    }
    .scsh8 {
        
        display: none;
    }
}


/*--------------End MQ for Smartphones-----------------*/


/*--------------MQ for Big Screens----------------------*/

@media screen and (min-width: 1680px) {
    #scshBox {
        position: relative;
        top: 50px;
        left: -60px;
        width: 1200px;
        margin-bottom: 350px;
    }
    .scsh1 {
        position: relative;
        top: 10px;
        left: 5%;
        
    }
    
    .scsh2 {
        position: relative;
        top: -350px;
        left: 60%;
        
    }
    
    .scsh3 {
        position: relative;
        top: -320px;
        left: 5%;
       
    }
    
    .scsh4 {
        position: relative;
        top: -680px;
        left: 60%;
            }
    
    .scsh5 {
        position: relative;
        top: -650px;
        left: 5%;
        
    }
  
    .scsh6 {
        position: relative;
        top: -970px;
        left: 60%;
        
            }
    .scsh7 {
        position: relative;
        top: -960px;
    }
    .scsh8 {
        position: relative;
        top: -1310px;
        left: 60%;
        width: 560px;
        height: 315px;
    }
}


/*-------------End MQ for Big Screens -----------------*/


.OH {
    
    margin-top: 50px;
}

.ul_head {
    font-weight: bold;
    font-size: 14px;
}



/* Aktuelle Termine */

.specLines {
    font-size: 2em;
    text-align: center;
}



.rich{

    clear: both;
    display: none;
}

.container {
    margin-top: 2em;
}

.li_item {
    list-style: outside none none;
}

.box {
    margin: 3px;
    border: 5px solid #eee;
    width: 23%;
    height: 15%;
    display: inline-block;
    float: left;
    padding: 1em 2em 0.5em 0.5em;
}

.last {
    position: relative;
    left: 36%;
}


/*------------
.li_item:nth-of-type(1)::before {
    background-color: #f2337d;
    color: white;
    content: "Upcoming";
  6 display: block;
    font-size: 0.8em;
    left: -2px;
    padding: 0.25em 0.5em;
    position: relative;
    text-align: center;
    top: 10px;
    width: 80px;
}
-------------*/

.conference table {
    display: inline-block;
}

.conference_date {
    font-size: 2em;
}

.conference_date {
    font-weight: 700;
}

.past-event {
    background: #eee none repeat scroll 0 0 !important;
    color: #aaa !important;
}

table {
    border-collapse: separate;
    border-spacing: 2px;
    text-indent: 0;
}

.c_days {
    margin-right: 0.25em;
}

.c_month {
    font-size: 0.6em;
    font-weight: 300;
    text-transform: uppercase;
}

.conference_name {
    color: #00bffF;
    font-size: 1.15em;
    font-weight: 600;
    margin: 0;
}

.what {
    color: #f2337d;
}

.conference_location {
    font-size: 0.9em;
    font-weight: 400;
    margin-top: 0.5em;
}

.webworker {
    font-size: small;
}

@media screen and (min-width: 1420px) {
    .box {
        margin: 3px;
        border: 5px solid #eee;
        width: 32%;
        height: 24%;
        display: inline-block;
        float: left;
        padding: 1em 2em 0.5em 0.5em;
    }
    .last {
        left: 0;
    }
}

@media screen and (max-width: 375px) {
    .box {
        margin: 3px;
        border: 5px solid #eee;
        width: 90%;
        display: inline-block;
        padding: 1em 2em 0.5em 0.5em;
    }
    .last {
        left: 0;
    }
}

#pre{

    border: 2px solid grey;
    padding: 2px;
    background-color: #F0E68C;
    margin-right: 20%;

}

.trackingSnippet{

    right: 20%;
}

#cmsTracking{

    border: 2px solid black;
    padding: 3px;
    margin: 5px;
    background-color: #f5f5f5;

}

.level:after {

    content: "Beginner";
    background-color: red;
    color: white;
    font-size: small;
    margin-left: 20px;
    padding: 3px;
}

.fb_pos {

    margin-left: 15px;
    position: relative;
    top: -6px;
}

.CM:after {

    content: "Content Marketing";
    background-color: red;
    color: white;
    font-size: small;
    margin-left: 20px;
    padding: 3px;
}
.OR:after {

    content: "Online-Recht";
    background-color: green;
    color: white;
    font-size: small;
    margin-left: 20px;
    padding: 3px;
}
.FB:after {

    content: "Facebook";
    background-color: blue;
    color: white;
    font-size: small;
    margin-left: 20px;
    padding: 3px;
}
.SEO:after {

    content: "SEO";
    background-color: #FFA500;
    color: white;
    font-size: small;
    margin-left: 20px;
    padding: 3px;
}

.video_text {
    clear: both;
    position: relative;
    top: 100px;
}
.video_vqme {
    margin-top: 150px;
    left: 0;
}
@media screen and (max-width: 375px) {
    .video_mobile {
      width: 280px;
      height: 189px;
      left: 0;
    }

}


@keyframes hvr-wobble-vertical {
    16.65% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.hvr-wobble-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.hvr-wobble-vertical:hover,
.hvr-wobble-vertical:focus,
.hvr-wobble-vertical:active {
    -webkit-animation-name: hvr-wobble-vertical;
    animation-name: hvr-wobble-vertical;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/* Skew Backward */
.hvr-skew-backward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.hvr-skew-backward:hover, .hvr-skew-backward:focus, .hvr-skew-backward:active {
  -webkit-transform: skew(10deg);
  transform: skew(10deg);
}


.action {
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.book {
    text-align: left;
    box-sizing: border-box;
    margin: 0;
    padding: 3px;
}

.button.button--blue {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #1b95e0;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: white;
}

.button {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(215deg, #ff0084 10%, #b91a62 90%);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.9em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    text-align: center;
    transition-delay: 0s, 0s;
    transition-duration: 0.15s, 0.15s;
    transition-property: background, color;
    transition-timing-function: linear, linear;
}
