html {
	font-size: 100%;
}


body {
	color: #111;
	font-family: "Open Sans", "Lucida Grande", "Tahoma", "Verdana", sans-serif;
	font-size: 1.1em;
	font-weight: 400;
	line-height: 1.6;
}
.main-nav {
	clear: none;
	float: right;
}
.main-nav ul{
	clear: both;
	list-style: outside none none;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}
.main-nav ul li.current a {
	color: #f12481;
}
.main-nav ul li a::hover, .main-nav ul li a:active {
	color: #f12481;
}
a:hover, a:active {
	border-bottom: 1px solid #f12481;
	color: #f12481;
}
a {
	border-bottom: 1px solid currentcolor;
	color: inherit;
	outline: medium none;
	text-decoration: none;
	
}.main-nav ul li a {
	border-bottom: medium none !important;
	color: inherit;
	display: block;
	height: 100%;
	padding: 0.75em;
	transition: color 0.15s linear 0s;
	width: 100%;
}
.main-nav ul li {
	display: inline-block;
	font-size: 0.75em;
	margin: 5px -3px 2px 0;
	text-transform: uppercase;
}



.clearfix::before, .clearfix::after {
	content: " ";
	display: table;
	}
.clearfix::after {
	clear: both;
	}
.clearfix::before, .clearfix::after {
	content: " ";
	display: table;
}
.wrapper {
	margin: 0 auto;
	max-width: 1500px;
}
.logo {
	float: left;
	margin-top: 0.25em;
	max-width: 150px;
	font-family: 'Lobster', cursive;
	font-size: 1.4em;
}

.main-header {
	border-bottom: 1px solid #eee;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.075);
	padding: 0.25em 1em;
	position: relative;
	z-index: 1;
}
.clearfix {
	}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	}
*::-moz-placeholder {
	color: #444;
}
*::-moz-selection {
	background: #f12481 none repeat scroll 0 0;
	color: white;
}
.full-width {
	background-color: white;
	overflow: hidden;
}
h3 {
	font-size: 1.6em;
	text-transform: capitalize;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.3;
	margin: 1.5em 0 .5em;
	
}
.size-2x.intro {
	font-weight: 300;
}
.size-2x {
	font-size: 1.3em;
	margin-bottom: 1.5em;
}
p, ul, ol {
	margin: 1em 0;
}
.main, aside {
	padding: 1em;
	margin: 0 auto;
	width: 65vw;
}
.contact-box {
	padding: 2em 0;
	background-color: #f5f5f5 !important;
	clear: both;
}
.full-width {
	background-color: white;
	overflow: hidden;
}
.main-footer {
	padding: 5em 0 2em;
	font-size: 10px;
	font-size: 1rem;
	clear: both;
	text-align: center;
}
#search {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #fafafa;
	z-index: 10;
	overflow-y: auto;
	text-align: center;
	display: none;
}
.availability-calendar ul {
	display: flex;
	flex-flow: row wrap;
	list-style: outside none none;
	margin: 0;
	padding: 0.5em 0;
	
}
.availability-calendar li {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #ddd;
	float: left;
	font-weight: bold;
	margin: 1px;
	padding: 0.5em 0.5em 1em;
	position: relative;
	width: 24%;
}
.availability-calendar li {
	flex: 1 1 0;
}
.availability-calendar li {
	width: 16%;
}
.past-month {
	background: #eee none repeat scroll 0 0 !important;
	color: #ddd !important;
}
.past-month ::after {
	background: #888 none repeat scroll 0 0;
}
.past-month span {
	color: #aaa !important;
	moz-filter: blur(0.75px)
	webkit-filter: blur(0.75px);
	filter: blur(0.75px);
	display: none;
}
li {
	margin: 1em 0;
}
.current-month::before {
	background-color: black;
	color: white;
	content: "Current";
	display: block;
	font-size: 0.4em;
	font-weight: normal;
	padding: 0.4em 0.8em;
	position: absolute;
	right: 0;
	top: 1em;
	
}
.availability--status {
	display: block;
	font-size: 0.8em;
	font-weight: normal;
	margin-top: 1em;
}
.full-availability .availability--status {
	color: #72a53b;
	font-weight: bold;
}
.no-availability .availability--status {
	color: #ea2a55;
}
.partial-availability .availability--status {
	color: #ff9e06;
}
.note {
	color: #888;
	margin-bottom: 1em;
	font-size: .9em;
	font-style: italic;
}
figure figcaption {
	font-style: italic;
	color: #999;
	padding: .5em 4em;
	font-size: .8em;
}